/* app css stylesheet */
.navbar {
  border-radius: 0px; 
}
.thumbnail .caption {
	text-transform: capitalize;
}
.thumbnail .caption h3 {
	height: 55px;
	overflow: hidden;
}
.thumbnail .caption p {
	height: 55px;
	overflow: hidden;
}
.btn-group-vertical > ul > li > a,
.btn-group-vertical > .btn {
	text-transform: capitalize;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

ol.breadcrumb li a {
	text-transform: capitalize;
}