/* app css stylesheet */

.navbar {
  border-radius: 0px; 
}
.thumbnail .caption h3 {
	height: 55px;
	overflow: hidden;
}
.thumbnail .caption p {
	height: 55px;
	overflow: hidden;
}
.btn-group-vertical > .btn-group > .btn,
.btn-group-vertical > .btn-group > ul > li > a,
.btn-group-vertical > .btn {
	text-transform: capitalize;
}
